@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --jungle-green: #004047;
  --sacramento-green: hsl(186, 96%, 10%);
  --dark-green: #002529;
  --robin-blue: #c4fffe;
  --font: "Livvic", sans-serif;
}

/* main {
  visibility: hidden;
  opacity: 0;
} */

.anim-nav {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
}



.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

body {
  font-family: var(--font);
  background-color: var(--midnight-green);
  line-height: 1.6;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  /* display: inline-block; */
}

ul {
  list-style-type: none;
}

.btn {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.filler {
  height: 120vh;
}

.desktop-list {
  display: none;
}

.hide-menu {
  position: absolute;
  right: 1rem;
}

.mobile-list {
  position: fixed;
  width: 250px;
  height: 100vh;
  top: 0;
  padding: 2.5rem 1.5rem;
  right: 0;
  z-index: 10;
  color: white;
  transform: translateX(250px);
  background: var(--jungle-green);
  transition: all 0.3s ease-in;
  display: grid;
  //flex-direction: column;
  align-content: start;
  justify-items: center;
}

.mobile-list li {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.mobile-list.show-menu {
  transform: translateX(0);
}

.pattern-menu {
  position: absolute;
  right: 0;
  top: 70%;
  height: 12rem;
  margin-right: -4rem;
}

.btn-contact {
  border-radius: 20vh;
  height: 3rem;
  width: 8rem;
  transition: all 0.3s ease-in;
}

.btn--white {
  border: 2px solid #fff;
  display: flex inline;
  justify-content: center;
  align-items: center;
}

.btn-green {
  border: 2px solid var(--sacramento-green);
  color: var(--sacramento-green);
  display: grid;
  place-content: center;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--sacramento-green);
  color: #fff;
  letter-spacing: 1px;
}

/* hero */

.hero {
  padding: 2rem 10vw 8rem;
  position: relative;
}

.hero-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.hero::after {
  position: absolute;
  bottom: 0;
  content: url("../images/bg-pattern-home-2.svg");
  height: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero-header {
  font-size: 3rem;
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}

.hero-text {
  text-align: center;
  margin: 1rem auto 4rem;
  max-width: 30rem;
}

.coral {
  color: var(--light-coral);
}

/* call to action */

.call-to-action {
  background-color: var(--light-coral);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.btn-cta {
  grid-column: 2 / 3;
}

.call-to-action-header {
  text-align: center;
  color: var(--sacramento-green);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  grid-column: 2 / 3;
}

.call-to-action::before {
  position: absolute;
  content: "";
  left: 0;
  background-image: url(../images/bg-pattern-home-6-about-5.svg);
  bottom: 0;
  width: 200px;
  height: 8.5rem;
  background-repeat: no-repeat;
}

/* footer */
footer {
  background-color: var(--sacramento-green);
}

.main-grid {
  min-height: 20vh;
  color: #fff;
  padding: 3em 0;
}

.main-grid {
  display: grid;
  justify-items: center;
  row-gap: 1.5rem;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    ". logo ."
    ". links ."
    ". address ."
    ". social ."
    ". copyright .";
}

.footer-logo {
  grid-area: logo;
  text-align: center;
}

.footer-link-list {
  grid-area: links;
  font-size: 1.3rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.footer-address {
  grid-area: address;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.footer-social {
  display: flex;
  grid-area: social;
  justify-content: space-between;
  width: 50%;
}

.footer-copyright {
  grid-area: copyright;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 650px) {
  nav {
    padding: 0 10vw;
    height: 20vh;
  }

  .show-menu {
    display: none;
  }

  .desktop-list {
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
  }

  .desktop-list li:first-child {
    margin: 0 3rem;
  }

  .desktop-list li:last-child {
    margin-left: auto;
  }

  /* call to action */

  .call-to-action {
    padding: 4rem 0 4rem 0;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding-bottom: 6rem;
  }

  .call-to-action-header {
    font-size: 2rem;
    grid-column: 2 / span 4;
    justify-self: start;
    margin: 0;
  }

  .btn-cta {
    grid-column: 7 / span 1;
    justify-self: end;
    margin: 0;
  }

  .btn-green {
    margin: 0;
  }

  /* footer */

  .main-grid {
    grid-template-columns: 10vw 1fr 1fr 10vw;
    grid-template-areas:
      ". logo address ."
      ". . address ."
      ". links address ."
      ". social copyright .";
  }

  .footer-address,
  .footer-copyright {
    text-align: right;
    justify-self: end;
  }

  .footer-logo,
  .footer-social,
  .footer-link-list {
    justify-self: start;
  }
}

@media (min-width: 1000px) {
  /* footer */
  .main-grid {
    justify-items: start;
    row-gap: 1rem;
    grid-template-columns: 10vw repeat(4, 1fr) 10vw;
    grid-template-areas:
      ". logo address . social ."
      ". links address . copyright .";
  }

  .footer-social {
    width: 45%;
    justify-self: end;
  }

  .footer-link-list {
    justify-content: space-between;
  }

  .footer-copyright {
    justify-self: end;
  }
}

@media (min-width: 1100px) {
  .hero-container {
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    align-items: stretch;
  }

  .hero-header {
    max-width: 32rem;
    font-size: 6rem;
    text-align: left;
    line-height: 6rem;
    margin: 0;
  }

  .hero-body {
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    margin: 0;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.8;
  }

  .hero {
    height: 70vh;
    margin-top: 10vh;
  }

  .hero::after {
    transform: translateX(0);
    right: 10vw;
    left: auto;
  }

  .hero-line {
    height: 3px;
    width: 3rem;
    background: var(--rapture-blue);
    margin-bottom: auto;
  }

  .call-to-action {
    grid-template-columns: repeat(6, 1fr);
  }

  .btn-cta {
    grid-column: 5 / span 1;
  }

  .call-to-action-header {
    font-size: 2.5rem;
    grid-column: 2 / span 2;
  }
}

/***************************ABOUT  PAGE ********************************  */

.clients {
  background-color: var(--jungle-green);
  position: relative;
  padding: 3rem 1rem;
  z-index: -100;

  overflow: hidden;
}

.clients-header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.logos-container {
  display: flex;
   height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.client-logo img {
  max-width: 11rem;
  height: 2rem;
}


@media (min-width: 500px) {
  .clients::after {
    content: url(../images/bg-pattern-about-4.svg);
    position: absolute;
    left: -5rem;
    top: 0;
    z-index: -10;
  }

  .clients-header {
    z-index: 10;
    margin-bottom: 1rem;
  }

  .logos-container {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

   .client-logo img {
    height: 1.5rem;
    max-width: 15vw;
  }
}

@media (min-width: 1100px) {
  .logos-container {
    height: 20vh;
  }

  .clients::after {
    content: url(../images/bg-pattern-about-4.svg);
    position: absolute;
    left: 0;
    top: 0;
  }

  .clients-header {
      font-size: 3rem;
  }

  .client-logo img {
    height: 2rem;
  }

  .clients {
    padding: 3rem 10vw 1rem;
  }

}

/* *********************  INFO */

.info {
  background-color: var(--sacramento-green);
  padding: 3rem .9rem;
  position: relative;
  overflow: hidden;
}

.info::after {
  position: absolute;
  content: url(../images/bg-pattern-home-3.svg);
  top: 0;
  right: -6rem;
}


.info-header {
  padding: 3rem 0 2rem;
  position: relative;
  font-size: 2.1rem;
  width: 60%;
  line-height: 2.1rem;
}

.info-header::before {
  content: '';
  height: 4px;
  width: 3rem;
  background-color: var(--light-coral);
  position: absolute;
  top: 0;
  left: 0;
}

.info-item {
  display: grid;
  justify-items: center;
  margin: 1.5rem 0;
}

.info-item-text {
  font-size: 1rem;
  max-width: 20rem;
  text-align: center;
  margin: 1rem 0;
  color:rgba(255, 255, 255, 0.7);
}

.info-item-header {
  text-align: center;
}

@media (min-width: 700px) {
  .info {
    padding: 4rem 10vw;
  }

  .info-item {
    display: flex;
    align-items: start;
  }

  .info-item > div {
    margin-left: 1rem;
  }

  .info-item-header {
    text-align: left;
  }

  .info-item-text {
    text-align: left;
    max-width: 30rem;
  }
}

@media (min-width: 1000px) {
  .info::after {
    bottom: 0;
    top: auto;
  }

  .info {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .info-header {
    line-height: 1.4;
    width: 40%;
  }

  .info-container {
    padding-top: 2rem;
  }
}

@media (min-width: 1100px) {
  .info-header {
    font-size: 3.3rem;
  }
}

/* ******************** ABOUT */
.about {
  padding: 2rem 2rem 8rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about::after {
  position: absolute;
  content: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
  bottom: -5rem;
  right: -6rem;

}

.about-header {
  //border: 2px solid red;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.about-text {
  //border: 2px solid green;
  text-align: center;
  max-width: 30rem;
}

@media (min-width: 700px) {
  .about-header {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 13vw 6rem 10vw;
  }

  .about::after {
    bottom: -3rem;
    right: -3rem;
  }

  .about-text {
    max-width: 45rem;
    font-size: 1.2rem;
    position: relative;
    text-align: left;
  }

  .about-text::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 3rem;
    left: 0;
    top: -2rem;
    background-color: var(--light-coral);
  }

  .about-header {
    font-size: 5rem;
  }
}

/******************************* REVIEWS */

.blue {
  color: var(--rapture-blue)
}

.reviews {
  padding: 7rem 1rem 6rem;
  position: relative;
  display: grid;
  justify-items: center;
}

.reviews::before {
  position: absolute;
  content: url(../images/bg-pattern-home-4-about-3.svg);
  top: 0;
  left: 0;
}

.reviews::after {
  position: absolute;
  content: url(../images/bg-pattern-home-5.svg);
  bottom: -1rem;
  right: 0;
}

.reviews-header {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32rem;
  position: relative;
}

.reviews-card::after {
  position: absolute;
  content: url(../images/icon-quotes.svg);
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

.reviews-card + .reviews-card {
  margin-top: 4.5rem;
}

.reviews-card-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid var(--rapture-blue);
  overflow: hidden;
  margin-top: .7rem;
}

.reviews-card-text {
  text-align: center;
}

.reviews-card-name {
  margin: .5rem 0;
  color: var(--rapture-blue);
  font-size: 1.2rem;
}

.reviews-card-role {
  font-size: .8rem;
}

.reviews-card-image img {
  object-fit: cover;
  max-width: 100%;
}

@media (min-width: 1100px) {
  .reviews {
    padding: 6rem 10vw;
  }

  .reviews-header {
    font-size: 3rem;
    max-width: 80%;
    line-height: 3rem;
    margin-bottom: 5rem;
  }

  .reviews-card-container {

    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .reviews-card {
    margin: 0;
    max-width: 20rem;
  }

  .reviews-card + .reviews-card {
    margin-top: 0;
  }

}

/* BARBA */

.cont-bandes {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 500;
}

.bande {
  height: 25%;
  width: 0%;
}

.bande:first-of-type {
  background-color: var(--dark-green);
}

.bande:nth-of-type(2) {
  background-color: var(--midnight-green);
}

.bande:nth-of-type(3) {
  background-color: var(--police-blue);
}

.bande:last-of-type {
  background-color: var(--rapture-blue);
}



