@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --jungle-green: #004047;
  --sacramento-green: #012f34;
  --dark-green: #002529;
  --robin-blue: #c4fffe;
  --font: 'Livvic', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--midnight-green);
  line-height: 1.6;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  /* display: inline-block; */
}

ul {
  list-style-type: none;
}

.btn {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.desktop-list {
  display: none;
}

.mobile-list {
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
  color: white;
  background: var(--sacramento-green);
}

.btn-contact {
  border-radius: 20vh;
  height: 3rem;
  width: 8rem;
  transition: all .3s ease-in;

}

.btn--white {
  border: 2px solid #fff;
  display: flex inline;
  justify-content: center;
  align-items: center;
}

.btn-green {
  border: 2px solid var(--sacramento-green);
  color: var(--sacramento-green);
   display: grid;
  place-content: center;
  font-weight: 700;
  transition: all .3s ease-in;
}

.btn-green:hover, 
.btn-green:focus {
  background-color: var(--sacramento-green);
  color: #fff;
  letter-spacing: 1px;
}

/* hero */  


.hero {
  padding: 2rem 10vw 8rem;
  position: relative;
}

.hero-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}


.hero::after {
  position: absolute;
  bottom: 0;
  content: url('../images/bg-pattern-home-2.svg');
  height: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

 .hero-header {
  font-size: 3rem;
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
} 

.hero-text {
  text-align: center;
  margin: 1rem auto 4rem;
  max-width: 30rem;
} 

.coral {
  color: var(--light-coral);
}

/* call to action */

.call-to-action {
  background-color: var(--light-coral);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.btn-cta {
  grid-column: 2 / 3;
}

.call-to-action-header {
  text-align: center;
  color: var(--sacramento-green);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  grid-column: 2 / 3;
}

.call-to-action::before {
  position: absolute;
  content: '';
  left: 0;
  background-image: url(../images/bg-pattern-home-6-about-5.svg);
  bottom: 0;
  width: 200px;
  height: 8.5rem;
  background-repeat: no-repeat;
}

/* footer */
footer {
   background-color: var(--sacramento-green);
}

.main-grid {
  min-height: 20vh;
  color: #fff;
  padding: 3em 0;
}

.main-grid {
  display: grid;
  justify-items: center;
  row-gap: 1.5rem;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas: '. logo .'
                        '. links .'
                        '. address .'
                        '. social .'
                        '. copyright .';
}

.footer-logo {
  grid-area: logo;
  text-align: center;
}

.footer-link-list {
  grid-area: links;
  font-size: 1.3rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.footer-address {
  grid-area: address;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.footer-social {
  display: flex;
  grid-area: social;
  justify-content: space-between;
  width: 50%;
}

.footer-copyright {
  grid-area: copyright;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 650px) {
  nav {
    padding: 0 10vw;
    height: 20vh;
  }

  .nav-toggler {
    display: none;
  }

  .desktop-list {
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
  }

  .desktop-list li:first-child {
    margin: 0 3rem;
  }

  .desktop-list li:last-child {
    margin-left: auto;
  }

  /* call to action */

   .call-to-action {
     padding: 4rem 0 4rem 0;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
      padding-bottom: 6rem;
   }

   .call-to-action-header {
     font-size: 2rem;
     grid-column: 2/ span 4;
     justify-self: start;
     margin: 0;
   }

   .btn-cta {
     grid-column: 7/ span 1;
     justify-self: end;
     margin: 0;
   }

    .btn-green {
      margin: 0;
    }

  /* footer */

  .main-grid {
    grid-template-columns:10vw  1fr 1fr 10vw;
    grid-template-areas: '. logo address .'
                          '. . address .'
                        '. links address .'
                        '. social copyright .';
  }

  .footer-address, 
  .footer-copyright {
    text-align: right;
    justify-self: end;
  }

  .footer-logo, 
  .footer-social,
  .footer-link-list {
    justify-self: start;
  }
}

@media (min-width: 1000px) {

 /* footer */
  .main-grid {
    justify-items: start;
    row-gap: 1rem;
    grid-template-columns: 10vw repeat(4, 1fr) 10vw ;
    grid-template-areas: '. logo address . social .'
                          '. links address . copyright .';
  }

 .footer-social {
   width: 45%;
  justify-self: end;
 }

 .footer-link-list {
   justify-content: space-between;
 }

 .footer-copyright {
   justify-self: end;
 }
}

@media (min-width: 1100px) {
  
.hero-container {
  justify-content: space-between;
  padding: 0;
  flex-direction: row;
  align-items:stretch;
}

.hero-header {
  max-width: 32rem;
  font-size: 6rem;
  text-align: left;
  line-height: 6rem;
  margin: 0;
}


.hero-body {
  display: flex;
  flex-direction: column;
}

.hero-text {
  margin: 0;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.8;
}

.hero {
  height: 70vh;
  margin-top: 10vh;
}

.hero::after {
  transform: translateX(0);
  right: 10vw;
  left: auto;

}

.hero-line {
  height: 3px;
  width: 3rem;
  background: var(--rapture-blue);
  margin-bottom: auto;
}



   .call-to-action {
      grid-template-columns: repeat(6, 1fr);
  }

  .btn-cta {
     grid-column: 5/ span 1;
   }

 .call-to-action-header {
     font-size: 2.5rem;
     grid-column: 2/ span 2;
   }
 


}
